<!DOCTYPE html>

<html>
    <head>
          <link href="css/edit.css" rel="stylesheet">
      	  <meta charset="UTF-8">
            <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
            <style>
        a{text-decoration:none}
                  </style>
    </head>
    <body>
        <body bgcolor='#F5F5DC'>
        
        <form action="/doPreview" method="POST">
          <div class="logo">
            <img src='img/LOGO-03.png' height="20%" width="20%" >
            <input type="text" name='logo_text'>
          </div>
          
          <div id='user'><img src='img/head.png' width='80%' height="80%"></div>

          <div class="pic">
            <input type="file" name="pic_path">
          </div>

          <!--
          <div class='pic'>
            <input type="text" name='pic_path' id="pic_path"><img src='img/desk.png' id='desk'>
          </div>
          <div><input type="file" name='file' id="file"></div>
          -->

          <div class='input'>           
              <b>食材:<input type="text" name='food'><br><p>
              <b>價錢:<input type="text" name='price'>數量:<input type="text" name='number'><br><p>
              <b>地點:<input type="text" name='place'><br><p>
              <b>訂購時間:<input type="text" name='time'>取貨時間:<input type="text" name='gettime'><br><p>
              <b>介紹:<textarea wrap="virtual" name="suggest" cols="40" rows="5"></textarea><br> 
              
              <div class="preview">
                <button id="preview" type="submit">preview</button>
                <img src=''>
              </div>
          </div>    
        </form>  
         
       
       

<input id="pac-input" type="text"placeholder='請輸入地址' >
    <div id="map"></div>
    <script>
      // This example adds a search box to a map, using the Google Place Autocomplete
      // feature. People can enter geographical searches. The search box will return a
      // pick list containing a mix of places and predicted search terms.

      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

      function initAutocomplete() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 23.5, lng: 121},
          zoom: 7,
          mapTypeId: 'roadmap'
        });

        // Create the search box and link it to the UI element.
        var input = document.getElementById('pac-input');
        var searchBox = new google.maps.places.SearchBox(input);
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function() {
          searchBox.setBounds(map.getBounds());
        });
        var markers = [];
        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        searchBox.addListener('places_changed', function() {
          var places = searchBox.getPlaces();

          if (places.length == 0) {
            return;
          }

          // Clear out the old markers.
          markers.forEach(function(marker) {
            marker.setMap(null);
          });
          markers = [];

          // For each place, get the icon, name and location.
          var bounds = new google.maps.LatLngBounds();
          places.forEach(function(place) {
            if (!place.geometry) {
              console.log("Returned place contains no geometry");
              return;
            }
            var icon = {
              url: place.icon,
              size: new google.maps.Size(71, 71),
              origin: new google.maps.Point(0, 0),
              anchor: new google.maps.Point(17, 34),
              scaledSize: new google.maps.Size(25, 25)
            };

            // Create a marker for each place.
            markers.push(new google.maps.Marker({
              map: map,
              icon: icon,
              title: place.name,
              position: place.geometry.location
            }));

            if (place.geometry.viewport) {
              // Only geocodes have viewport.
              bounds.union(place.geometry.viewport);
            } else {
              bounds.extend(place.geometry.location);
            }
          });
          map.fitBounds(bounds);
        });
      }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBEJ3rnTtFEubxTQiu-4cWOj9bhgG6tyi0&libraries=places&callback=initAutocomplete"
         async defer></script>

    </body>
</html>
