<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
	<title>About us</title>
	<link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="img/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="stylesheet" href="stylesheets/screen.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
</head>
<body>
	<header class = "top">
		<div id="side"></div>
		<div class="container">
			<div class="infoBox">
				<div class="register">
					<a href="/register">Signup</a>
				</div>
				<div class="login">
					<a href="/login">Login</a>
				</div>
				<div class="login">
					<a href="/foodpage">Explore</a>
				</div>
			</div>
		    <div class = "logo"><img src="img/app_logo_grayWhite.png" alt=""></div>
		</div>
	</header>
	<div class = "aboutus">
		<!--<img src="images/index_bg.png" alt="">-->
		<div class = "content">
			<!--<h2>About us</h2>-->
			<p>Make Eating more Interesting</p>
		</div>
	</div>
	<div class="intro-flow">
		<div class="container">
			<h2>分享創意與廚藝</h2>
			<div class="item" id="sample1"><img src="img/intro_img1.jpg" alt=""></div>
			<div class="item" id="sample2"><img src="img/intro_img2.jpg" alt=""></div>
			<div class="item" id="sample3"><img src="img/intro_img3.jpg" alt=""></div>
			<div class="item-list">
			</div>
			<h2>讓大家看見與品嘗</h2>
			<div class="device-list">
				<div class="device" id="phone">
					<img src="img/phone.png" alt="">
				</div>
				<div class="device" id = "laptop">
					<img src="img/laptop.png" alt="">
				</div>
			</div>
		</div>
	</div>
	<div class="mainPage">
		<div class="container">
			<h2 class = "title">精選美食</h2>
			<a href="/foodpage" class="more">發掘更多美食資訊</a>
			<hr>
			<div class="postBoard">
				<div class="posts">
					<img class = "foodPicture" src="img/001.jpg" alt="">
					<div class="info">
						<div class="title">
							<a>黯然消魂飯</a>
						</div>
						<div class="top">
							<a>$100/人</a>
						</div>
						<div class="bottom">
							<a class="comment">10 comments</a>
							<div class="moreInfo">
								<div></div>
								<div></div>
								<div></div>
							</div>
						</div>
					</div>
				</div>
				<div class="posts">
					<img class = "foodPicture" src="img/002.jpg" >
					<div class="info">
						<div class="title">
							<a>湖南味紅蟳油飯</a>
						</div>
						<div class="top">
							<a>$100/人</a>
						</div>
						<div class="bottom">
							<a class="comment">8 comments</a>
							<div class="moreInfo">
								<div></div>
								<div></div>
								<div></div>
							</div>
						</div>
					</div>
				</div>
				<div class="posts">
					<img class = "foodPicture" src="img/003.jpg" >
					<div class="info">
						<div class="title">
							<a>道地台味米苔目</a>
						</div>
						<div class="top">
							<a>$100/人</a>
						</div>
						<div class="bottom">
							<a class="comment">5 comments</a>
							<div class="moreInfo">
								<div></div>
								<div></div>
								<div></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="main">
		<h1>Share and Make Friends</h1>
	</div>
	<div class="intros">
		<div class="container">
			<h2>members</h2>
			<hr>
			<div class="members">
			 	<div class="member">
			 		<img src="img/01.png" alt="">
			 		<div class="intro">
			 			<h2>蔡帛融</h2>
			 			<h3>意外成為組長兼工程師</h3><br>
			 			一個異想天開的學生，熱愛美術、寫程式，喜歡旅遊，希望用雙手讓生活變得更精彩<br>
			 			<a>更多...</a>
			 		</div>
			 	</div>
			 	<div class="member">
			 		<img src="img/02.png" alt="">
			 		<div class="intro">
			 			<h2>Ming-Hong Wang</h2>
			 			<h3>首席設計師</h3><br>
			 			「設計」就存在我們生活之中，唯有用心去體會生活，才能源源不絕的創造出對社會有貢獻的價值。<br>
			 			<a>更多...</a>
			 		</div>
			 	</div>
			 	<div class="member">
			 		<img src="img/03.png" alt="">
			 		<div class="intro">
			 			<h2>翁瑞陽</h2>
			 			<h3>猛猛的工程師</h3><br>
			 			喜歡 coding 的機械人，嚮往開源精神，目標是做出很多人使用的軟體。<br>
			 			<a>更多...</a>
			 		</div>
			 	</div>
			 	<div class="member">
			 		<img src="img/04.png" alt="">
			 		<div class="intro">
			 			<h2>廖加尾</h2>
			 			<h3>厲害的工程師</h3><br>
			 			一位踏入最高知識殿堂不久的新鮮人，仍有許多不足之處，期望透過與各方專家間的互動，提升自我能力，精進自己。<br>
			 			<a>更多...</a>
			 		</div>
			 	</div>
			 	<div class="member">
			 		<img src="img/05.png" alt="">
			 		<div class="intro">
			 			<h2>雷鈞丞</h2>
			 			<h3>超強的工程師</h3><br>
			 			眼高手低的一介白丁，希望通過不斷學習，盡早脫離熬夜寫code的苦海，目標是嘗試寫出多種風格的遊戲。<br>
			 			<a>更多...</a>
			 		</div>
			 	</div>
		 	</div>
		</div>
	</div>
	<script src = "js/food_app.js"></script>
</body>
</html>