<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
	<title>jiabeng</title>
	<link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="img/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="stylesheet" href="./css/login_style.css">
</head>
<body>
	<div class="bender-before">
		<div class = "blue"></div>
	</div>
	<div class="container">
			<div class = "logo">
				<img src="img/app_logo_grayWhite.png" alt="">
			</div>
			<form action="./doLogin" method="post">
				<input name = "account"type="text" placeholder="enter your account">
				<input name = "password" type="password" placeholder="enter your password">
				<button type = "submit">Login</button>
			</form>
			<a href="../foodpage">跳過</a>
		</div>
</body>
</html>