<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
	<title>jiabeng</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/new_index_screen.css">
	<script src="https://unpkg.com/vue"></script>
</head>
<body>
	<div id="app">
		<!--<div class="post">
			<div class="info">
				<h3>106黑膠團</h3>
				<label for="">post by</label><a href="">蔡</a>
			</div>
			<button>join</button>
		</div>
		<div class="post">
			<div class="info">
				<h3>107黑膠團</h3>
				<label for="">post by</label><a href="">蔡</a>
			</div>
			<button>join</button>
		</div>-->
		<div class="create-event" title="create an event">
			<a href="./edit"><i class="fa fa-plus" aria-hidden="true"></a></i>
		</div>
		<form action="./enter_event" method = "post">
			<input name = "id" type="text" placeholder="enter post ID">
			<button type="submit">ENTER</button>
		</form>
	</div>
	<script src = "js/index_app.js">
		
	</script>
</body>
</html>