html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  text-align: center;
  font-family: Microsoft JhengHei, monospace;
  background-color: white;
  z-index: 0;
}

#app {
  position: relative;
  display: inline-block;
  width: 100%;
}
#app #banner {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 60vh;
  background-image: url("../images/wood_bg.jpg");
  background-size: cover;
  background-position: center;
  z-index: 0;
}
#app #banner .filter {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: -1;
}
#app #banner header {
  position: relative;
  display: inline-block;
  max-width: 1200px;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #2471a3;
  z-index: 10;
}
#app #banner header .logo {
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 10px 0px;
}
#app #banner header .list {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 40px;
  height: 40px;
  padding: 10px 20px;
  cursor: pointer;
}
#app #banner .plate-logo {
  display: inline-block;
  margin: 10vh 0px 20px 0px;
  width: 100px;
  height: 100px;
}
#app #banner input.search {
  display: inline-block;
  width: 100px;
  height: 25px;
  background-color: transparent;
  margin-bottom: 10px;
  text-align: center;
}
#app #banner h2 {
  font-size: 25px;
  color: white;
  text-shadow: 1px 1px gray;
}
#app .create-event {
  position: fixed;
  top: 40px;
  right: calc(50% - 130px);
  cursor: pointer;
}
#app .create-event > * {
  font-size: 40px;
  color: white;
}
#app .list-board {
  position: fixed;
  display: none;
  right: 0px;
  top: 0px;
  max-width: 420px;
  width: 85vw;
  height: 100vh;
  background-color: rgba(29, 62, 83, 0.8);
  transition: all 1s;
  z-index: 99;
}
#app .list-board .fa-times {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 35px;
  font-weight: 200;
  color: white;
}
#app .list-board ul {
  display: inline-block;
  width: 100%;
  padding-top: 40px;
}
#app .list-board ul li {
  display: inline-block;
  width: calc(100% - 20px);
  padding: 30px 20px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}
#app .list-board ul li img.user-img {
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
#app .list-board ul li h3.user-name {
  font-size: 20px;
  color: white;
}
#app .list-board ul li:hover {
  background-color: rgba(29, 62, 83, 0.4);
  transition: all 0.8s;
}
#app .post-board {
  display: inline-block;
  max-width: 400px;
  width: calc(100% - 20px);
  padding: 0px 10px;
  margin: 80px 0px 150px 0px;
}
#app .post-board .post {
  position: relative;
  display: inline-block;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 60px;
}
#app .post-board .post * {
  display: inline-block;
}
#app .post-board .post .food-img {
  width: 100%;
  height: 200px;
  border-radius: 5px;
}
#app .post-board .post h3 {
  position: absolute;
  top: 25px;
  left: 10px;
  font-size: 25px;
  padding: 10px;
  color: white;
  border: 1px solid white;
  text-shadow: 1px 1px black;
  box-shadow: 1px 1px black;
}
#app .post-board .post .profile {
  position: absolute;
  bottom: 40px;
  right: 10px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
#app .post-board .post h5 {
  font-size: 15px;
}
#app .post-board .post .fa-star {
  color: gray;
}
