body{
	text-align: center;
	background-color: #2471A3;
}
.bender-before{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-image: url('../img/login-background.jpg');
	background-size:  cover;
	background-repeat: no-repeat;
	-webkit-filter: brightness(90%); /* Safari */
    filter: brightness(50%);
    z-index: -99;
}
.bender-before .blue{
	display: inline-block;
	float: left;
	width: 100%;
	height: 100%;
	background-color: #2471A3;
	opacity: 0.3;
}
.container{
	display: inline-block;
	max-width: 600px;
	width: calc(100% - 20px);
	padding: 100px 10px;
	text-align: center;
}
.container .logo{
	display: block;
	width: 100%;
	padding: 4px 0px 0px 0px;
}
.container .logo img{
	height: 60px;
	width: 60px;
}
form{
	display: inline-block;
	max-width: 300px;
	width: 100%;
	padding: 20px 0px;
}

form >input{
	margin: 10px 0px; 
	border: 0px;
	padding: 0px;
	width: calc(100% - 10px);
	padding: 0px 5px;
	height: 40px;
	border-radius: 5px;
	font-size: 15px;
	background-color: #ECEFF2;
}

form button{
	width: 100%;
	height: 45px;
	margin-top: 10px;
	background-color: #3B577D;
	color: #C0D9E5;
	border-radius: 5px;
	transition: all .5s
}

form button:hover{
	background-color: #C0D9E5;
	color: #2471A3;
}