html, body {
  background-color: #E1F5F2;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  background-image: url("../images/wood.jpg");
  background-position: center;
  background-size: cover;
}

.profileImg {
  position: absolute;
  left: 70px;
  top: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.form {
  position: absolute;
  display: inline-block;
  left: 40px;
  top: 75px;
  width: 250px;
  padding: 20px;
  background-color: white;
  z-index: 99;
}
.form .button {
  background-color: #8aacff;
  color: white;
  transition: background-color 0.5s;
}
.form .button:hover {
  background-color: #2866ab;
  color: white;
}

.posit {
  width: 240px;
  height: 240px;
  position: absolute;
  font-size: calc(240px / 4 - 20px);
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  background-color: #ffeb8a;
  letter-spacing: 10px;
  line-height: 30px;
  box-shadow: 10px 15px 40px rgba(0, 0, 0, 0.4);
}
.posit .text{
  pointer-events: none;
}

.posit .colorList {
  position: absolute;
  bottom: -32px;
  left: 10px;
}
.posit .colorList .color {
  display: inline-block;
  margin: 5px;
  float: left;
  width: 20px;
  height: 20px;
  pointer: cursor;
}
.posit .fa-lock {
  position: absolute;
  color: rgba(0, 0, 0, 0.3);
  left: 10px;
  top: 10px;
  font-size: 25px;
}

.eventBoard {
  position: absolute;
  top: 100px;
  right: 50px;
  width: 250px;
  background-color: white;
  margin: 0px;
}
.eventBoard input {
  margin: 5px;
  width: 170px;
  height: 35px;
  border: 0.5px solid #eeeeee;
  padding: 0px 5px 0px 5px;
}
.eventBoard button {
  height: 35px;
  border-radius: 5px;
  background-color: #8aacff;
  border: none;
  padding: 0px 10px 0px 10px;
  color: white;
  transition: background-color 0.5s;
}
.eventBoard button:hover {
  background-color: #2866ab;
}
.eventBoard ul {
  padding: 0px;
  padding-top: 10px;
}
.eventBoard li {
  display: block;
  padding: 10px 0px 10px 15px;
  margin: 0px 10px 0px 10px;
  list-style-type: none;
  text-align: left;
  border-bottom: 1px solid #f0f4f8;
  transition: background-color 0.5s;
  transition: display 1s;
}
.eventBoard li .fa {
  float: right;
  margin-right: 6px;
  color: #eeeeee;
  transition: color 0.5s;
}
.eventBoard li:hover {
  background-color: #eeeeee;
}
.eventBoard li:hover .fa {
  color: #cf4647;
}

.item .fa-plus{
  padding-top: 6px;
  float: right;
  cursor: pointer;
}

.ui.input input:focus, .ui.input.focus input{
  height: 25px;
}