/* line 5, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 10, ../sass/screen.sass */
body {
  text-align: center;
  overflow-x: hidden;
}

/* line 13, ../sass/screen.sass */
header.top {
  position: fixed;
  width: 100%;
  height: 50px;
  background: transparent;
  top: 0px;
  left: 0px;
  z-index: 99;
  opacity: 1;
  color: #2471a3;
  transition: background 1s;
}
/* line 24, ../sass/screen.sass */
header.top #side {
  position: absolute;
  display: inline-block;
  left: 0px;
  top: 0px;
  width: 30px;
  height: 50px;
}
/* line 31, ../sass/screen.sass */
header.top .container {
  position: relative;
  display: inline-block;
  max-width: 1100px;
  width: calc(100% - 20px);
  padding: 0px 10px;
}
/* line 37, ../sass/screen.sass */
header.top .container .infoBox {
  display: inline-block;
  float: left;
  padding: 17.5px;
}
/* line 41, ../sass/screen.sass */
header.top .container .infoBox > div {
  display: inline-block;
  width: 70px;
}
/* line 44, ../sass/screen.sass */
header.top .container .infoBox > div a {
  font-size: 15px;
  font-family: Microsoft JhengHei, monospace;
  color: white;
  text-decoration: none;
  transition: color 0.5s;
}
/* line 50, ../sass/screen.sass */
header.top .container .infoBox > div a:hover {
  color: #c8d4e3;
}
/* line 52, ../sass/screen.sass */
header.top .container .logo {
  position: absolute;
  display: inline-block;
  margin-left: -21px;
  left: 50%;
  font-family: Microsoft JhengHei, monospace;
  padding-top: 5px;
}
/* line 59, ../sass/screen.sass */
header.top .container .logo img {
  height: 40px;
  width: 42px;
}

/* line 62, ../sass/screen.sass */
.main {
  display: inline-block;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #dff5f2;
  text-align: center;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  color: white;
}
/* line 72, ../sass/screen.sass */
.main h1 {
  display: block;
  padding: 200px 0px;
  font-size: 36px;
  font-family: Microsoft JhengHei, monospace;
  text-shadow: 2px 2px 2px black;
}

/* line 78, ../sass/screen.sass */
.intro-flow {
  display: inline-block;
  padding: 50px 5px;
  width: calc(100% - 10px);
}
/* line 82, ../sass/screen.sass */
.intro-flow .container {
  position: relative;
  display: inline-block;
  max-width: 800px;
  width: 100%;
  height: 800px;
  margin: 50px 0px;
}
/* line 89, ../sass/screen.sass */
.intro-flow .container h2 {
  font-family: Microsoft JhengHei, monospace;
  font-size: 27px;
}
/* line 92, ../sass/screen.sass */
.intro-flow .container .item {
  position: absolute;
  top: 50px;
  display: inline-block;
  width: calc((100% - 60px)/3);
  height: 170px;
  margin: 0px 10px;
  transition: all 1.2s;
}
/* line 100, ../sass/screen.sass */
.intro-flow .container .item img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
/* line 104, ../sass/screen.sass */
.intro-flow .container #sample1 {
  left: 0px;
}
/* line 106, ../sass/screen.sass */
.intro-flow .container #sample1:hover {
  top: 570px;
  left: calc(20% - 75px);
  width: 130px;
  height: 130px;
}
/* line 111, ../sass/screen.sass */
.intro-flow .container #sample2 {
  left: calc((100% - 60px)/3 + 10px);
}
/* line 113, ../sass/screen.sass */
.intro-flow .container #sample2:hover {
  top: 570px;
  left: calc(40% + 60px);
  width: 130px;
  height: 130px;
}
/* line 118, ../sass/screen.sass */
.intro-flow .container #sample3 {
  left: calc((100% - 60px)*2/3 + 20px);
}
/* line 120, ../sass/screen.sass */
.intro-flow .container #sample3:hover {
  top: 570px;
  left: calc(40% + 200px);
  width: 130px;
  height: 130px;
}
/* line 125, ../sass/screen.sass */
.intro-flow .container .item-list {
  display: inline-block;
  width: 100%;
  height: 450px;
}
/* line 129, ../sass/screen.sass */
.intro-flow .container .device-list {
  display: inline-block;
  width: 100%;
  padding: 50px 0px;
}
/* line 133, ../sass/screen.sass */
.intro-flow .container .device-list .device {
  display: inline-block;
  float: left;
  height: 200px;
  padding: 0px 10px;
}
/* line 138, ../sass/screen.sass */
.intro-flow .container .device-list #phone {
  width: calc(40% - 20px);
}
/* line 140, ../sass/screen.sass */
.intro-flow .container .device-list #phone > img {
  max-width: 150px;
  height: 270px;
}
/* line 143, ../sass/screen.sass */
.intro-flow .container .device-list #laptop {
  width: calc(40% - 20px);
}
/* line 145, ../sass/screen.sass */
.intro-flow .container .device-list #laptop > img {
  max-width: 500px;
  height: 270px;
}

/* line 148, ../sass/screen.sass */
.aboutus {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 200px 0px 200px 0px;
  font-family: Microsoft JhengHei, monospace;
  background-image: url("../img/index_bg.png");
}
/* line 155, ../sass/screen.sass */
.aboutus > img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
/* line 161, ../sass/screen.sass */
.aboutus .content {
  position: relative;
  display: inline-block;
  max-width: 500px;
}
/* line 165, ../sass/screen.sass */
.aboutus .content h2 {
  display: block;
  left: 0px;
  font-size: 32px;
  padding: 20px 0px;
  color: white;
}
/* line 171, ../sass/screen.sass */
.aboutus .content p {
  font-size: 25px;
  font-weight: 100;
  line-height: 25px;
  color: #f1efef;
  padding: 80px 0px;
}
/* line 177, ../sass/screen.sass */
.aboutus .content .container {
  display: inline-block;
  max-width: 400px;
  width: calc(100% - 10px);
  padding: 10px 5px;
}
/* line 182, ../sass/screen.sass */
.aboutus .content .container .titleBox {
  display: inline-block;
  float: left;
  width: 100%/2;
}
/* line 186, ../sass/screen.sass */
.aboutus .content .container .titleBox .title {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/* line 193, ../sass/screen.sass */
div.mainPage {
  position: relative;
  width: 100%;
  height: auto;
  left: 0px;
  top: 0px;
  padding-bottom: 100px;
  background-color: #f1efef;
}
/* line 201, ../sass/screen.sass */
div.mainPage .container {
  display: inline-block;
  margin-top: 150px;
  max-width: 870px;
  width: 100%;
  font-family: Microsoft JhengHei, monospace;
  font-weight: lighter;
}
/* line 208, ../sass/screen.sass */
div.mainPage .container > .title {
  display: inline-block;
  float: left;
  font-size: 27px;
  padding-left: 6px;
}
/* line 213, ../sass/screen.sass */
div.mainPage .container > .more {
  display: inline-block;
  float: right;
  font-size: 17px;
  line-height: 45px;
  text-decoration: none;
  padding-right: 6px;
}
/* line 220, ../sass/screen.sass */
div.mainPage .container hr {
  width: calc(100% - 10px);
}
/* line 222, ../sass/screen.sass */
div.mainPage .container .postBoard {
  display: inline-block;
  margin-top: 30px;
  max-width: 870px;
  width: calc(100% - 10px);
  padding: 0px 5px;
}
/* line 230, ../sass/screen.sass */
div.mainPage .container .postBoard .posts {
  position: relative;
  display: inline-block;
  float: left;
  width: calc((100% - 30px*2)/3);
  height: 320px;
  background-color: white;
  margin-bottom: 30px;
  cursor: pointer;
  border-bottom: solid 2px #2471a3;
  *zoom: 1;
}
/* line 3, ../sass/_clearfix.sass */
div.mainPage .container .postBoard .posts:after, div.mainPage .container .postBoard .posts:before {
  content: "";
  display: table;
}
/* line 6, ../sass/_clearfix.sass */
div.mainPage .container .postBoard .posts:after {
  clear: both;
}
/* line 241, ../sass/screen.sass */
div.mainPage .container .postBoard .posts .foodPicture {
  position: relative;
  float: left;
  width: 100%;
  height: 200px;
}
/* line 246, ../sass/screen.sass */
div.mainPage .container .postBoard .posts .info {
  position: relative;
  float: left;
  width: calc(100% - 20px);
  height: 120px;
  padding: 0px 10px;
}
/* line 252, ../sass/screen.sass */
div.mainPage .container .postBoard .posts .info > div {
  position: relative;
  display: inline-block;
  float: left;
  width: 100%;
  font-family: Microsoft JhengHei, monospace;
  text-align: left;
}
/* line 259, ../sass/screen.sass */
div.mainPage .container .postBoard .posts .info .title {
  height: 30%;
}
/* line 261, ../sass/screen.sass */
div.mainPage .container .postBoard .posts .info .title a {
  font-size: 20px;
  font-weight: normal;
  line-height: 35px;
}
/* line 265, ../sass/screen.sass */
div.mainPage .container .postBoard .posts .info .top {
  height: 40%;
}
/* line 267, ../sass/screen.sass */
div.mainPage .container .postBoard .posts .info .top a {
  position: relative;
  float: left;
  line-height: 40px;
  font-weight: bold;
}
/* line 272, ../sass/screen.sass */
div.mainPage .container .postBoard .posts .info .top .star {
  position: relative;
  float: right;
}
/* line 275, ../sass/screen.sass */
div.mainPage .container .postBoard .posts .info .bottom {
  height: 30%;
  text-align: left;
}
/* line 278, ../sass/screen.sass */
div.mainPage .container .postBoard .posts .info .bottom a {
  color: #bab7b5;
  font-size: 12px;
  line-height: 15px;
}
/* line 282, ../sass/screen.sass */
div.mainPage .container .postBoard .posts .info .bottom .moreInfo {
  position: absolute;
  right: 0px;
  top: 0px;
  height: auto;
}
/* line 287, ../sass/screen.sass */
div.mainPage .container .postBoard .posts .info .bottom .moreInfo div {
  position: relative;
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #8c8b8b;
}
/* line 294, ../sass/screen.sass */
div.mainPage .container .postBoard .posts:nth-child(3n+1) {
  margin-left: 0px;
}
/* line 296, ../sass/screen.sass */
div.mainPage .container .postBoard .posts:nth-child(3n+2), div.mainPage .container .postBoard .posts:nth-child(3n+3) {
  margin-left: 30px;
}
@media all and (min-width: 420px) and (max-width: 700px) {
  /* line 230, ../sass/screen.sass */
  div.mainPage .container .postBoard .posts {
    width: calc((100% - 10px*1)/2);
  }
  /* line 300, ../sass/screen.sass */
  div.mainPage .container .postBoard .posts:nth-child(2n+1) {
    margin-left: 0px;
  }
  /* line 302, ../sass/screen.sass */
  div.mainPage .container .postBoard .posts:nth-child(2n+2) {
    margin-left: 10px;
  }
}
@media all and (min-width: 0px) and (max-width: 420px) {
  /* line 230, ../sass/screen.sass */
  div.mainPage .container .postBoard .posts {
    width: calc((100% - 2px)/1);
    height: 350px;
    margin-bottom: 5px;
    border-bottom: none;
  }
  /* line 309, ../sass/screen.sass */
  div.mainPage .container .postBoard .posts:nth-child(n) {
    margin-left: 0px;
  }
  /* line 311, ../sass/screen.sass */
  div.mainPage .container .postBoard .posts .foodPicture {
    height: 270px;
  }
  /* line 313, ../sass/screen.sass */
  div.mainPage .container .postBoard .posts .info {
    height: 80px;
  }
}

/* line 315, ../sass/screen.sass */
.intros {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 90px 0px;
  font-family: Microsoft JhengHei, monospace;
}
/* line 321, ../sass/screen.sass */
.intros .container {
  display: inline-block;
  max-width: 1000px;
  width: calc(100% - 12px);
  padding: 0px 6px;
}
/* line 326, ../sass/screen.sass */
.intros .container > * {
  float: left;
}
/* line 328, ../sass/screen.sass */
.intros .container > h2 {
  width: 100%;
  font-size: 32px;
  padding: 30px 0px;
  padding-left: 20px;
  text-align: left;
}
/* line 334, ../sass/screen.sass */
.intros .container hr {
  width: 100%;
}
/* line 336, ../sass/screen.sass */
.intros .container .members {
  display: block;
  max-width: 700px;
  width: 650p;
}
/* line 340, ../sass/screen.sass */
.intros .container .members > div {
  display: block;
  width: 100%;
  height: 200px;
}
/* line 344, ../sass/screen.sass */
.intros .container .members > div img {
  display: inline-block;
  float: left;
  width: 90px;
  height: 90px;
  margin: 30px;
  border-radius: 50%;
}
/* line 351, ../sass/screen.sass */
.intros .container .members > div .intro {
  display: inline-block;
  float: left;
  width: calc(100% - 160px);
  height: calc(100% - 60px);
  padding: 30px 0px;
  text-align: left;
  padding-right: 10px;
  line-height: 20px;
}
/* line 360, ../sass/screen.sass */
.intros .container .members > div .intro h2 {
  font-size: 26px;
}
/* line 362, ../sass/screen.sass */
.intros .container .members > div .intro h3 {
  padding-left: 15px;
  padding-top: 10px;
}
/* line 365, ../sass/screen.sass */
.intros .container .members > div .intro a {
  cursor: pointer;
}
